	.preloader-container{
		position: absolute;
		top:0;
		left:50%;
		width:500px;
		height:500%;
		margin-top:-30px;
		margin-left: -50px;
	}

	.preloader{
		position: absolute;
		top:0;
		left:0;
		height:30px;
		width:100px;
		background-color: #fff;
		border: 1px solid #009cff;

	}
	
	.progress{
		position: absolute;
		left: 0;
		top:0;
		height:100%;
		width:0;
		background-color: #009cff;
	}

	.trans{
	    -webkit-transition: all .3s ease-in-out;
	    -moz-transition: all .3s ease-in-out;
	    -o-transition: all .3s ease-in-out;
	    -ms-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}  

	.load-in{
		margin-top: -15px;
		transform:translate3d(0,50%,0);
	    -webkit-transform:translate3d(0,50%,0);
	    -moz-transform:translate3d(0,50%,0);
	    -o-transform: translate(0,50%);
	    -ms-transform: translate(0,50%);

	}

	.splash-content {
	  -webkit-transition: all 0.5s;
	  -moz-transition: all 1.0s;
	  -o-transition: all 1.0s;
	  -ms-transition: all 1.0s;    
	  transition: all 1.0s;
	}

	.load-out{
		margin-top: 30px;
		transform:translate3d(0,100%,0);
	    -webkit-transform:translate3d(0,100%,0);
	    -moz-transform:translate3d(0,100%,0);
	    -o-transform: translate(0,100%);
	    -ms-transform: translate(0,100%);
	}