@font-face {
    font-family: helvetica-neue-lt-std-85-heavy;
    src: url(fonts/helvetica-neue-lt-std-85-heavy.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-45-med;
    src: url(fonts/helvetica-neue-45-light.otf);
}

@font-face {
    font-family: helvetica-neue-lt-std-55-roman;
    src: url(fonts/helvetica-neue-lt-std-55-roman.otf);
}
@font-face {
    font-family: helvetica-neue-lt-std-65-medium;
    src: url(fonts/helvetica-neue-lt-std-65-medium.otf);
}

.h1{
    font-size: 24px;
    line-height: 1.25;
}

.h2{
    font-size: 16px;
    line-height: 1.875;
}

.h3{
    font-size: 12px;
    line-height: 2.5;
}
.h4{
    font-size: 14px;
    line-height: 2.143;
}

.h5{
    font-size: 18px;
    line-height: 1.667;
}

.h6{
    font-size: 10px;
    line-height: 1.8;
}

/* opacity universal style */
.med_opacity{
    opacity: 0.7;
}

.light_opacity{
    opacity: 0.3;
}


.light-font{
    font-family: HelveticaNeueLTStd-45-med;
}

.med-font{
    font-family: helvetica-neue-lt-std-65-medium;
}

.light-blue-text{
    color: #009cff;
}

.notification_container{
    min-height: 100px;
    display: flex;
}


.inside_notification_container{
    margin: auto 0;
    width: 100%;
    text-align: center;
}

.toggle_loader{
    display: table;

    height: 300px;
}
.btn_primary{
    font-family: helvetica-neue-lt-std-55-roman;
    height: 40px;
    min-width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #009cff;
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: #009cff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}
.btn_secondary1 {
    font-family: helvetica-neue-lt-std-55-roman;
    height: 40px;
    min-width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #009cff;
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: #009cff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}
.text_center {
    text-align: center;
}
.deal_mapping_container2 select {
    margin-top: 20px;
    height: 40px;
    width: 365px;
    border-radius: 5px;
    outline: none;
    resize: none;
    padding-left: 20px;
    padding-right: 20px;
    border: 1.5px solid #e1e1e1;
    color: #7a7a7a;
    box-sizing: border-box;
    font-family: 'HelveticaNeueLTStd-45-med', OpenSans-Light, arial-light;
    background: transparent;
}
.splerrmsg {
    height: 600px;
    width: 540px;
    padding: 50px;
    /* margin-top: 50%; */
    /* margin-left: 15px; */
    font-size: 16px;
    color: #919191;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loadergif {
    height: 600px;
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emptymsg {
    color: #009cff !important;
}

html, body {
    margin: 0;
    font-size: 100%;
}

.sourceSansLight {
    font-weight: 300;
}

.sourceSansBold {
    font-family: "nimbus-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.center-text {
    text-align: center;
    font-weight: normal;
}

.cursor {
    cursor: pointer;
}

input[type=text] {
    color: #000000;
}

.save_profile {
    text-transform: uppercase;
    font-family: helvetica-neue-lt-std-85-heavy;
    font-size: 0.875rem;
    color: #3f3f3f;
    opacity: 0.7;
    letter-spacing: 0.1em;
    float: left;
}

.save_profile_input {
    font-family: HelveticaNeueLTStd-45-med;
    border-width: 1.5px;
    border-color: #e1e1e1 !important;
    border-style: solid;
    border-radius: 5px;
    width: 365px;
    height: 40px;
    text-indent: 20px;
    font-size: 0.875rem;
    color: #7a7a7a;
    opacity: 0.7;
    line-height: 24px;
    outline: none;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 16px;
}
button[disabled]{
    opacity: 0.5;
    background-color: #848484;
}
.save_profile_button {
    width: 144px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #009cff;
    font-size: 1rem;
    color: #fefefe;
    letter-spacing: 0.050em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 28px;
    font-family: helvetica-neue-lt-std-55-roman;
}
.flex_container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 20px;
}
.select_tag_container{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 20px;
}
.select_tag_container select{
    height: 40px;
    width: 214px;
    border-radius: 5px;
    outline: none;
    resize: none;
    padding-left: 20px;
    padding-right: 20px;
    border: 1.5px solid #e1e1e1;
    color: #7a7a7a;
    box-sizing: border-box;
    font-family: HelveticaNeueLTStd-45-med;
    background: transparent;
}
.select_tag_container label{

    font-family: 'HelveticaNeueLTStd-45-med', OpenSans-Light, arial-light;
    color: #000000;
    opacity: 0.7;
    font-size: 1rem;

}
button{
    cursor: pointer;
}
.m_right25{
    margin-right: 25px;
}
/* basic stylings ------------------------------------------ */
.container_1 {
    padding: 0 25px 0;
    overflow: hidden;
    width: 320px;
    /*border: 1px solid #cc014a;*/
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}
.hdr1{
    font-family: helvetica-neue-lt-std-85-heavy;
    font-size: 0.875rem;
    color: rgba(63,63,63,0.7);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 15px;
}
.hdr1 span{
    margin-right: 25px;
}
.login_hdr{
    font-family: helvetica-neue-lt-std-85-heavy;
    font-size: 0.875rem;
    color: rgba(63,63,63,0.7);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /*padding: 32px 0;*/
}
.active{
    border-bottom: 4px solid #009cff;
}
.inactive{
    opacity: 0.3;
}
.login_hdr span{
    padding-bottom: 15px;
    border-bottom: 4px solid #009cff;
}
.signin_table {
    width: 100% !important;
    border: 1px solid rgba(161,161,161,.25);
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #cccccc;
}
.signin_table tr td {
    padding: 10px 20px;
    height: 70px;
    /*padding-top: 25px;*/
    vertical-align: text-bottom;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    position: relative;
    width: 100%;
}

.signin_table td {
    border: 0.5px solid rgba(161,161,161,.25) !important;
}
.signin_table tr td label {
    font-family: helvetica-neue-lt-std-65-medium;
    font-size: 0.875rem;
    color: rgba(63,63,63,0.4);
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    line-height: 1;
}
.signin_table tr td input{
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 0.01em;
    outline: none;
    border: none;
    color: #a7a7a7;
    margin-top: 8px;
    font-family: HelveticaNeueLTStd-45-med;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=text] {
    color: #000000 !important;
}
input[type=password] {
    color: #000000 !important;
}
.sign-up {
    border: none;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #cc014a;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    font-size: 16px;
    color: #cc014a;
}

.sign-up[disabled] {
    opacity: 0.5;
}

.color {
    color: #cc014a;
}

.pointer {
    cursor: pointer;
}

.head {
    float: left;
    border-width: 2px;
    border-color: rgb(237, 237, 237);
    border-style: solid;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 115px;
    padding-left: 45px;
    padding-right: 45px;
    /*margin-bottom: 10px;*/
     box-shadow: 0 0 12px 1px #ffffff;
    box-sizing: border-box;
    width: 540px;
}

.loader_wrapper {
    height: 570px;
    width: 540px;
    /*margin-top: 45%;*/
}

.add_link {
    font-size: 16px;
    color: #525253;

    text-transform: capitalize;
}

.input {
    padding: 3px 2%;
    width: 96%;
    font-size: 14px;
    color: #000;

    border: 1px solid #cdcdcd;
}

.label {
    font-size: 14px;
    color: #797c82;
    padding: 10px 0px 5px 0px;

}

.textarea {
    width: 100%;
    border: 1px solid #cdcdcd;
    color: #000;
    font-size: 14px;

}

.select {
    border: 1px solid #cdcdcd;
    width: 90%;

}

.login {
    padding-top: 28px;
}

.error {
    color: red;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 16px;
}

.input:focus, .textarea:focus, .select:focus {
    outline: none;
    border: 1px solid #40b3ef;
    color: #000;
}

.save {
    background: none;
    padding: 5px 15px;
    border: none;
    color: #fff;
    background-color: #5cb85c;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.save:focus {
    outline: none;
}

.save[disabled] {
    opacity: 0.5;
}

.cancel {
    background-color: #c9302c;
}

.greenOrRed {
    font-size: 0.875rem;
    height: 16px;
    font-family: HelveticaNeueLTStd-45-med;
    color: #009cff;
    cursor: default;
}


.greenOrRed_modifications{
    margin-top: -2px;
    margin-left: 90px;
    display: contents;
    cursor: pointer;
    font-family:  helvetica-neue-lt-std-65-medium;
}

.greenOrRed_modifications:hover{
    text-decoration: underline;
    text-decoration-color: #009cff;
}

.sugessionmsg {
    font-size: 12px;
    font-family: HelveticaNeueLTStd-45-med;
    color: #919191;
    margin-top: 5px;
    /*position:absolute;*/
}

.support_msg_container{

}

.btnCenter {
    text-align: center;
}

.img-container {
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    /* border: 1px solid #e2e2e2; */
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    /* height: 100px; */
    text-align: center;
    /* float: left; */
}
.version_leftbottom{
    font-size: 14px;
    font-family: HelveticaNeueLTStd-45-med;
    /* font-style: italic; */
    color: #919191;
    display: flex;
    justify-content: space-between;
}
.para1{
    font-size: 14px;
    font-family: HelveticaNeueLTStd-45-med;
    color: #919191;
    letter-spacing: 0.01em;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 120px;
}
.para2{
    font-size: 14px;
    font-family: HelveticaNeueLTStd-45-med;
    color: #919191;
    letter-spacing: 0.01em;
    margin: 0;
    margin-top: 40px;
}
.para1 a{
    color:#009cff;
    text-decoration: none;
}
.para1 a:hover {
border-bottom:1px solid #009cff;
}
.selectbox {
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 0.01em;
    outline: none;
    border: none;
    color: #a7a7a7;
    margin-top: 8px;
    font-family: 'HelveticaNeueLTStd-45-med', OpenSans-Light, arial-light;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: 100%;
}
.color_black{
    color:#000000 !important;
}
.curr_version{
    color:#919191;
    font-size: 0.875rem;
}
.img-container[disabled] {
    opacity: 0.5;
}
.log_in_via{
font-size: 0.875rem;
    font-style: normal
}
.logoutbtn{
    font-size: 0.875rem;
    font-style: normal;
    color: #009cff;
    border-bottom: 1px solid transparent;
}
.header_align{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoutbtn:hover{
    border-bottom:1px solid #009cff;
}
.selected_img_index {
    border: 2px solid #bfbfbf;
}

.imgExtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: none;
    width: 92%;
}

.numberCircle {
    text-align: center;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.logout {
    float: right;
    height: 20px;
    width: 20px;
}

/*===========loader===========*/
.loader,
.loader:before,
.loader:after {
    background: #e4e4e4;
    -webkit-animation: load1 0.1s infinite ease-in-out;
    animation: load1 0.1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #e4e4e4;
    text-indent: -9999em;
    /*margin: 88px auto;*/
    /*position: relative;*/
    position: absolute;
    left: 50%;
    top: calc(217px - 22.5px);
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.search_icon_tags {
    background: url(../img/process_gif.gif)!important;
    background-repeat: no-repeat!important;
    background-position: right!important;
    background-size: 15px!important;
    padding-left: 0px;
}

/* progress bar styles */

.progress-bar {
    width: 100%;
    height: 8px;
    z-index: 9999;
    background: rgba(191, 191, 191, 0.2);
}

.progressbarBtn {
    width: 30px;
    margin: 0px 6px 10px 6px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

div#totalSearchProfile {
    margin-left: 0;
    background-color: #dd449d;
}

div#skippedSearchProfile {
    background-color: #bcd800;
}

div#existSearchProfile {
    background-color: #eaa928;
}

div#foundSearchProfile {
    margin-right: 0;
    background-color:#7ad8ca;
}

.text_progress{
    display: flex;
    justify-content: space-between;
    max-width: 38%;

}
.progress-button-wrap {
    margin-top: 30px;
}

.suggestion_msg_container{
    margin: 0 auto;
    max-width: 70%;
    margin-top: 10px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.green_red_box{
    text-align: center;
    margin-top: 20px;
}

.support_modifications{
    text-align: center;
    margin-bottom: 10px;
}

.margin_bottom_10{
    margin-bottom: 10px;
}