<!-- Loader wrapper(Fetching Data) -->
<div ng-show="loader" class="loadergif">
    <img src="img/332.gif"/>
</div>

<!-- Loader wrapper(Image)-->
<div class="loader_wrapper" ng-show="extnLoader">
    <div class="loader"></div>
</div>

<!-- Waiting Loader wrapper(For domain Name)-->
<div class="head" style="padding-top: 25px;" ng-show="!loader && !extnLoader && !succMsg">
    <!-- Header portion, that includes logout icon -->
    <div class="cursor" ng-click="logOutExtn();" ng-mouseenter="mouseenter();" ng-mouseleave="mouseover();">
        <img src="img/signoutblack.png" ng-show="!team" class="logout">
        <img src="img/logout.png" ng-show="team" class="logout">
    </div>

    <div class="toggle_loader" ng-show="stateLoader">
        <div class="loader"></div>
    </div>

    <!-- Toggle Screen For Search -->
    <form class="login" ng-show="showSingleSearch" style="padding-top: 10px;">
        <table class="signin_table">
            <tr>
                <td>
                    <table style="width: 100%;border: none!important;">
                        <tr>
                            <td style="width: 30%;border: none!important;">
                                <img ng-src="{{extractedData.profilepic}}" style="width:80px;height:80px;border-radius:50%;box-shadow: 8px 6px 16.2px rgba(192, 192, 192, 1);"></td>
                            <td style="width: 50%;border: none!important;padding: 0;line-height: 0;height: 0;vertical-align: middle;">
                                <label>Name</label>
                                <input type="text" placeholder="First Name Last Name" ng-model="extractedData.name">
                                <input type="text" placeholder="Designation" ng-model="extractedData.position">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Company URL</label>
                    <input type="text" class="search_icon_tags1" placeholder="Company URL" ng-model="extractedData.companyWebsiteUrl"
                           ng-class="{'search_icon_tags':extractedData.companyWebsiteUrl === undefined || extractedData.companyWebsiteUrl === ''}"
                           ng-click="clearComUrl();">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Social Media URL</label>
                    <input type="text" placeholder="Social Media URL" ng-model="extractedData.profileurl">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Prospect Tag</label>
                    <select class="selectbox" ng-class="{'color_black':extractedData.tag}" ng-model="extractedData.tag"
                            ng-options="tag.tagid as tag.tagname for tag in tagList">
                        <option value="">Select Tag</option>
                    </select>
                </td>
            </tr>
        </table>

        <div class="suggestion_msg_container">
            <div class="greenOrRed" ng-class="{'sugessionmsg': viewProfileMode}">{{extnSuccessMsg}}
                <!--<span ng-show="viewProfileMode">-->
                <div class="green_red_box greenOrRed_modifications" ng-show="viewProfileMode">
                    <span class="greenOrRed greenOrRed_modifications cursor" ng-click="viewUserProile();"> Click Here </span>
                    to view a profile
                </div>
            </div>
            <div class="sugessionmsg">{{extnSuccessMsg0}}</div>
            <div class="sugessionmsg">{{extnSuccessMsg1}} <a href ng-click="loadonstartup();">{{retrymsg}} </a><br>{{ormsg}}<br>{{extnSuccessMsg2}}
            </div>
        </div>


        <div class="support_modifications">
            <div class="greenOrRed greenOrRed_modifications margin_bottom_10 cursor" ng-show="showSupport" ng-click="riseSupport();">Raise Support</div>
            <div class="btnCenter">
                <button ng-disabled="disableButton();" style="width: 200px; height: 45px;" class="save_profile_button" ng-click="saveData();">
                    Find Email And Save
                </button>
            </div>
        </div>


    </form>

    <!-- Toggle Screen For Settings -->
    <form class="login" name="loginFrm" ng-show="linkedinSettingsPage">
        <table class="signin_table">
            <tr>
                <td>
                    <label>Linkedin Account Type</label>
                    <select class="selectbox" ng-model="settingObj.linkedinAccountType"
                            ng-options="t for t in linkedAccTypeList" ng-change="settingOptionChange()">
                        <option value="" disabled>Select search count</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No. of profiles scan per day</label>
                    <select class="selectbox" ng-model="settingObj.dailyCounts"
                            ng-options="hours.count as hours.plan for hours in dailyCountList "
                            ng-change="settingOptionChange()">
                        <option value="" disabled>Select search count</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>No. of profiles scan per hour</label>
                    <select class="selectbox" ng-model="settingObj.hourlyCount"
                            ng-options="hours.count as hours.plan for hours in hourlyCountList "
                            ng-change="settingOptionChange()">
                        <option value="" disabled>Select search count</option>
                    </select>
                </td>
            </tr>
        </table>
        <p class="para2">LinkedIn might block your account due to excessive profile visiting. Handle with care!</p>
        <div class="btnCenter">
            <div class="sugessionmsg" style="color:#009cff;">{{extnSuccessMsg4}}</div>
            <button class="save_profile_button" ng-click="saveEstensionSettings();" ng-disabled="allSettingSave">Save
            </button>
        </div>
    </form>
    <!--for settings ends-->
    <div class="notification_container" ng-show="selfProfileError">
        <div class="inside_notification_container">
            <div class="h1 light-font light-blue-text">Why find someone else's prospect? (It's your own profile) </div>
        </div>
    </div>

    <div class="notification_container" ng-show="chooseFilterForMultiPro">
        <div class="inside_notification_container">
            <div class="h1 light-font light-blue-text">Please apply a filter, before starting a search </div>
        </div>
    </div>

    <div class="notification_container" ng-show="enoughCreditScore">
        <div class="inside_notification_container">
            <div class="h1 light-font light-blue-text">You don't have enough credits, please recharge your account. <a href="https://crm.alore.io/#/dashboard/ecredit-plans">click here</a></div>
        </div>
    </div>


    <!--toggle screen ends-->
    <div class="version_leftbottom" ng-show="!selfProfileError"><span>v {{version}}</span> <span>Email Credit Left : {{emailCredits}}</span></div>
    <div class="version_leftbottom" ng-show="!selfProfileError"><span>Email Counts: {{searchCountssync}}</span> <span>Logged In via:  {{logedInEmail}}</span>
    </div>
</div>

<div class="loader_wrapper" ng-show="waitingLoader">
    <div class="loader"></div>
</div>

<div class="splerrmsg" ng-show="succMsg">
    <span>{{extnSuccessMsg3}}
    <span class="cursor greenOrRed" ng-click="gotoNewVersionLink();" style="position: relative;"
          ng-show="showClickHere">click here</span>
    <span ng-show="showClickHere"> to download.</span>
    </span>
</div>
