<div class="head">
    <h1 class="login_hdr"><span>LOGIN TO ALORE ACCOUNT</span></h1>

    <form class="login" name="loginFrm">
        <table class="signin_table">
            <tr>
                <td>
                    <label>Email</label>
                    <input type="text" required ng-model="compDetails.compEmail" name="usrEmail"
                           placeholder="Enter Your Email ID" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                    <input type="password" required name="passWrd" ng-model="compDetails.compPass" ng-minlength="6"
                           placeholder="Enter your password">
                </td>
            </tr>
        </table>
        <div class="greenOrRed">{{errMsg1}}</div>
        <div class="btnCenter">
            <button class="save_profile_button" ng-click="successClick()" ng-disabled="!compDetails.compEmail||!compDetails.compPass">Login</button>
        </div>
        <p class="para1">
            Forgot Password? <span ng-click="openForgotPassword();" class="cursor" style="color: #009cff;"> Click here</span>
        </p>
        <p class="para1">
            Haven’t signed up? <span ng-click="openSignUp();" class="cursor" style="color: #009cff;"> Click here</span>
        </p>
    </form>
    <div class="version_leftbottom">v {{c}}</div>
</div>