<div class="container">
	<h1 class="center-text color">Sign Up</h1>
	<form>
		<div class="group" class="sourceSansLight">
			<input type="text" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Email</label>
		</div>
		<div class="group">
			<input type="text" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Publication Name</label>
		</div>
		<div class="group">
			<input type="text" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Publication URL</label>
		</div>
		<div class="group">
			<input type="text" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Name</label>
		</div>
		<div class="group">
			<input type="text" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Password</label>
		</div>
		<div class="group">
			<button class="sign-up" ng-click="successClick()">Sign Up</button>
		</div>
	</form>
	<div class="version_leftbottom">v {{version}}</div>
</div>